.nav_menu {
  max-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9;
  background-color: #fff;
  padding: 20px 0;
  .logo {
    margin-left: 40px;
    .nav__logo {
      width: 150px;
      height: auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 0;
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav__menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    color: #262f5a;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    padding: 0 20px;
    width: 100%;
    li {
      width: 100%;
      text-align: left;
      height: 100%;
      cursor: pointer;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    .nav__links {
      margin: 8px;
      color: #262f5a;
      display: flex;
      align-items: right;
      text-decoration: none;
      cursor: pointer;
      font-family: "Nunito Sans", sans-serif;
      letter-spacing: 0.1px;
      overflow-y: hidden;
    }
  }
  .grid3 {
    width: 100%;
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 10px;
        a {
          cursor: pointer;
          color: #896eff;
          display: flex;
          font-family: "Nunito Sans", sans-serif;
          letter-spacing: 0.1px;
          padding: 5px 0 5px 0;
          transition: all 0.5s;
          background-size: 200%;
          height: 32px;
          width: 32px;
          line-height: 32px;
          text-align: center;
          border-radius: 50px;
          font-size: 14px;
          background-color: #fff;
          transition: all 0.5s;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          text-decoration: none;
        }
        a:hover {
          background-image: linear-gradient(
            to right,
            #896eff 0,
            #5f3bff 51%,
            #896eff 100%
          );
          color: #fff;
        }
      }
    }
  }
}
.active {
  left: 0;
  transition: 500ms;
}
