.container {
  padding-top: 100px;
  padding-bottom: 70px;
  .products {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: -15px;
      margin-left: -15px;
      .left {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @media screen and (max-width: 960px) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 10%;
        }

        div {
          min-width: 42vw;
          padding-left: 20px;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-name: dance;
          @keyframes dance {
            0% {
              opacity: 1;
              transform: rotate(-1.5deg);
            }
            20% {
              opacity: 1;
              transform: rotate(-1deg);
            }
            40% {
              opacity: 1;
              transform: rotate(-0.5deg);
            }
            60% {
              opacity: 1;
              transform: rotate(0deg);
            }
            80% {
              opacity: 1;
              transform: rotate(0.5deg);
            }
            100% {
              opacity: 1;
              transform: rotate(1deg);
            }
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .right {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 5%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        color: #505489;
        margin-right: 20px;
        @media screen and (max-width: 960px) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        .header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 3rem !important;
          margin-bottom: 1.5rem !important;
          h6 {
            line-height: 1.2;
            margin-bottom: 20px;
            margin-top: 0;
            color: #896eff !important;
            padding: 10px 30px;
            display: inline-block;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 600;
            background-color: rgba(137, 110, 255, 0.1);
          }
          h2 {
            font-size: 40px;
            line-height: 1.2;
            font-weight: 700;
            color: #1f2471;
            margin-bottom: 0.5rem;
            margin-top: 0;
          }
        }
        p {
          margin-left: 3rem !important;
          margin-top: 0;
          margin-bottom: 1rem;
        }
        a {
          margin-left: 3rem !important;
          align-items: center !important;
          color: #896eff;
          text-decoration: none;
          border-radius: 5px;
          font-family: Arial;
          font-size: 15px;
          font-weight: 500;
          text-align: center;
          vertical-align: middle;
          background-color: transparent;
          margin: 5px 5px;
          display: flex;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

          i {
            height: 45px;
            width: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            box-shadow: rgba(31, 66, 135, 0.1) 0px 15px 20px;
            font-size: 16px;
            background-color: #896eff;
            color: #fff;
            margin-right: 10px;
          }
        }
        a:hover {
          i {
            animation: slide 0.3s;
            @keyframes slide {
              0% {
                transform: translateX(0%);
              }
              100% {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }
}
.animate_left {
  animation: slidex 1.8s;
  @keyframes slidex {
    0% {
      opacity: 0.4;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
.animate_right {
  animation: slidey 1.8s;
  @keyframes slidey {
    0% {
      opacity: 0.4;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
